
.studyOf {
    padding: 63px 0 13px 0;
    background: #F8F8F8;
    min-height: 752px !important;
    &__h3 {
        display: none;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        width: 1140px;        
        margin: 0 auto;
        margin-top: 64px;
        
    }
    &__flexMax {
        width: 264px;
        margin: 0 auto;
    }
    &__tab {
        width: 260px;
        font-weight: 300;
        margin-top: 28px;
        text-align: right;
        position: relative;
        cursor: pointer;
        &_active {
            font-weight: 600;
            color: #000000;
            &::after {
                content: '';                
                position: absolute;
                right: -20px;   
                bottom: -5.9px;
                width: 7px;
                height: 130%;                
                background: #FFD014;
            }
        }
    }
    &__whiteBG {
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        display: none;
        border-radius: 5px; 
        box-shadow: #a10707;box-shadow: 0 0 10px rgba(153, 153, 153, 0.5);
        &_active {
            display: flex;
        }
    }
    &__imgBg {
        img {
            width: 100%;
        }
    }
    &__imgBg1 {
        display: none;
    }
    &__wrapperRight {
        padding: 22px 0 25px 0;
        margin: 0 auto;        
    }
    &__headerW {
        color: #797979;
        font-weight: 500;
        text-align: center;
        line-height: 19px;
    }
    &__headerW1 {
        display: none;
    }
    &__imgCer {
        width: 200px;
        margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            width: 167px;
            height: 167px;
        }
    }
    &__subheaderW {
        margin-top: 42px;
        text-align: center;
        position: relative;
        font-weight: 300;
        font-size: 22.7273px;
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 44px;
            height: 1.5px;
            background: #FFD014;
            left: 50%;
            transform: translateX(-50%);
            top: 37px;
        }
    }
    &__title {
        margin-top: 32px;
        font-weight: 300;
        font-size: 14.5455px;
        line-height: 17px;
        text-align: center;
        color: #5F5F5F;
    }
    &__demonstration {
        margin-left: 57%;
        margin-top: 55px;
        padding-bottom: 54px;        
        line-height: 19px;
        a {
            text-decoration-line: underline;
            font-size: 16.0197px;
            color: #000000;
        }
        
    }
}