
.teacherReviews {
    padding: 57px 0 31px 0;
    .teacherReviews-slick {
        margin: 0 auto ;
        margin-top: 48px;
        &__wrapperWidth {            
            max-width: 395px ;
            padding: 30px 40px;
            box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
            border-radius: 9px;   
            background: #FFFFFF;
            margin: 0 auto;   
        }
        &__flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 190px;
            img {
                margin-right: 28px;
            }
        }
        
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;  
            list-style-type: none;
            padding-left: 0;
            outline: none;            
            width: 120px;
            margin: 0 auto;
            margin-top: 43px;         
            li {
                border-radius: 50%;
                width: 11.09px;
                height: 11.09px; 
                background-color: #fff; 
                border: 1px solid #CDCDCD;
                box-sizing: border-box;
                
                     
                button {
                    text-indent: -9999px;
                    border: none;
                    background-color: transparent; 
                    text-decoration: none;
                    outline: none;
                    width: 20px ;
                    .root {
                        background-color: transparent; 
                        background-color: red;
                    }
                }
                  
            }
            .slick-active {                          
                background: #FFD014;
                border: none;     
            }   
        }
            .slick-prev {
                border: none;
                background: rgba(0, 0, 0, 0.0);
                position: absolute;
                top: 39%;            
                left: 2%;
                outline: none;
                z-index: 9999;
                
            }
            .slick-next {
                border: none;
                background: rgba(0, 0, 000, 0.0);
                position: absolute;
                top: 39%;
                right: 2%;    
                outline: none;        
            }
        .slick-slide {                      
            margin: 5px 0px  !important;         
        }
    }
    &__title {
        margin-top: 27px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }
    &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    &__citi {
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
    }
    &__icon {
        width: 27px;
        height: 26.72px;
        background: #7294C7;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        &_r {
            background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
        }
    }
    &__navigation {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
    }
}

