@media screen and ( max-width: 	1512px) { 
    .main {
        padding: 96px 0 0 0 ;
        height: 500px;
        &__prioritet {            
            right: -18.5% ;      
        }
    }
}
@media screen and ( max-width: 	1401px) {
    .main {
        &__prioritet {            
            right: -21%;             
        }
    }
}
@media screen and ( max-width: 	1290px) {
    .main {
        &__prioritet {            
            right: -28.5% !important;             
        }
    }
}
@media screen and ( max-width: 	1215px) {
    .main {
        padding: 46px 0 0 0 ;
        height: 400px;
        background-size: 640px;
        &__prioritet {            
            right: -26% !important;             
        }
    }
}
@media screen and ( max-width: 	1090px) {
    .main {
        &__prioritet {            
            right: -29.5% !important;             
        }
        &__wrapper {
            width: 500px;
            left: 80px;
        }
    }
}
// @media screen and ( max-width: 	1035px) {
//     .main {
//         height: 400px;
//         background-size: 610px;
        
//         &__prioritet {            
//             right: -30.9% !important;             
//         }
//         &__wrapper {
//             width: 500px;
//             left: 79px;
//         }
//     }
// }


// @media screen and ( max-width: 	1037px) {
//     .main {      
//         min-height: 409px !important;  
//         &__prioritet {            
//             right: -29.5% !important;             
//         }
//     }
// }



@media screen and ( max-width: 	1024px) {
    .main {
        height: 428px;
        padding: 54px 0 67px 0 ;
        background: url('/img/bg/mainMadal.jpg') center center/cover no-repeat;
        &__prioritet {            
            right: -27.5% !important;    
            display: none;         
        }
        &__wrapper {            
            left: 20px;
            width: 500px;
            background-color: rgba(255, 255, 255, -0.1);
            // margin-top: 40px;
        }
        &__h1 {
            color: #fff;
            font-size: 40px;
        }
        &__h2 {
            color: #fff;
        }
        &__title {
            color: #fff;
        }
        &__title {
            max-width: 310px;
        }
    }
}
@media screen and ( max-width: 	375px) {
    .main {
        background: url('/img/bg/mainMobil375.jpg') center center/cover no-repeat;
        min-height: 551px;              
        padding-top: 153px;   
        &__wrapper {                        
            left: -3px;
            width: 100%; 
            padding-left: 8px;
        } 
        .button_main {            
            margin: 14px auto;
        }
    }
}