


@media screen and ( max-width: 	575px) {
    .modall {
        padding: 30px 20px;
        width: 310px;
        border-radius: 12px;

        &__close {            
            top: 10px;
            right: 10px;
        }
        .registrationSpanLinCenter {
            font-size: 14px;
        }
        form {
            select {
                height: 38px;
                font-size: 14px;
            }
            input {
                height: 38px;
                font-size: 14px;
            }
            .checkbox {
                width: 22px;
                height: 24px;
            }
            .IAcceptTheCondition {
                font-size: 14px;
                a {
                    font-size: 14px;
                    text-decoration-line: underline;
                }
            }
            .nextCheckbox {
                margin-left: 6px;
                margin-top: 20px !important;
            }
            .forgot {
                margin-top: 20px !important;
            }
        }
        form .forgot a {
            margin-left: -15px;
            margin-top: 20px !important;
        }

    }
    // hr {
    //     display: none;
    // }
    
}