@media screen and ( max-width: 	1400px) {
    .slider {
        &__tabs {
            margin-left: 30px;
        } 
        &__line {
            margin: -33px  13px 0 auto !important;                  
        }
    }
}

@media screen and ( max-width: 	1101px) {
    .slider {
        .slider1 {
            max-width: 764px;
            .slick-prev {
                left: -8%;
            }
            .slick-next {
                right: -8%;
            }
            div {
                img {
                    margin: 20px -34px;
                    width: 450px;
                     
                }
            }
        }
    }
}

@media screen and ( max-width: 	991px) {
    .slider {
        .slider1 {
            max-width: 764px;
            .slick-prev {
                left: 2%;
            }
            .slick-next {
                right: 2%;
            }
            div {
                img {
                    margin: 0 auto;
                    width: 450px;
                     
                }
            }
        }
    }
    
}

@media screen and ( max-width: 	767px) {
    .slider {
        .slider1 {
            .slick-prev {
                left: -4%;
            }
            .slick-next {
                right: -4%;
            }
            div {
                img {
                    margin: 0 auto;
                    width: 400px;
                }
            }
        }
    }
    
}

@media screen and ( max-width: 	767px) {
    .slider {
        .slider1 {
            .slick-prev {
                left: -17px;
                top: 32%;
                img {
                    width: 20px;
                }
            }
            .slick-next {
                right: -17px;
                top: 32%;
                img {
                    width: 20px;
                }
            }
            div {
                img {
                    margin: 0 auto;
                    max-width: 350px;
                    filter: drop-shadow(0px 0px 5.3809px rgba(0, 0, 0, 0.18));
                }
            }
        }
    }
}

@media screen and ( max-width: 	575px) {
    .slider {
        .slider1 {
            .slick-prev {
                left: -12px;
                top: 32%;
            }
            .slick-next {
                right: -12px;
                top: 32%;
            }
            div {
                img {
                    margin: 0 auto;
                    max-width: 241px;
                }
            }
        }
    }
}