


@media screen and ( max-width: 	1154px) {
    .studyOf {
        &__flex {
            width: 1089px;
        }
        .container-fluid {
            padding: 0;
        }
    }
}
@media screen and ( max-width: 	1100px) {
    .studyOf {
        padding: 57px 0px 50px 20px ;
        
        &__globalScroll {
            overflow-x: scroll;
            padding-bottom: 10px;
            // border: solid 1px 0 0 0 black;
            
        }
        
        &__h3 {
            display: block;
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            padding: 10px 0 0px 0;
        }
        &__wrapperRight {
            padding: 21px 0 26px 0;
            width: 294px !important;
            // display: none;
        }
        &__tabs {
            display: none;
        }
        &__whiteBG {
            display: block;
            padding: 21px 0 26px 0;
            width: 296px;
            margin-right: 30px;
            margin-left: 6px;
        }
        &__imgBg {
            display: none;
        }
        &__imgBg1 {
            display: flex;
            img {
                height: 230px;
            }
        }
        &__headerW {
            display: none;
        }
        &__headerW1 {
            display: flex;
            font-family: Exo 2;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: #3A3A3A;
        }
        &__flexMin {
            display: flex;
            align-items: center;
            margin-top: 33px;
        }
        &__imgCer {            
            width: 130px;
            img {
                margin: 0 auto;
                width: 87px;
                height: 87px;
            }
        }
        &__subheaderW {
            margin-top: 0;
            font-size: 20px;
            line-height: 24px;
            text-align: left;
            margin-top: 5px;
            &::after {
                content: '';
                left: 39%;
                top: 60px;
            }
        }
        &__title {
            margin-top: 25px;
        }
        &__demonstration {
            margin: 0 auto;
            margin-top: 86px;
            text-align: center;
            font-size: 14px;
            line-height: 17px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    
}

@media screen and ( max-width: 	380px) {
    .studyOf {
        padding-left: 0px;
        
        // padding-right: 5px;
    }
}